<ul class="breadcrumb">
{% for name, href in breadcrumbs %}
    {% if loop.last %}
        <li class="active">{{ name }}</li>
    {% else %}
        <li><a href="{{ href }}">{{ name }}</a></li>
    {% endif %}
{% endfor %}
</ul>

{{ page.set('title', 'The Archives @ ' ~ blog.name) }}

{% for Y, years in archives|reverse(true) %}

    <h3><a href="{{ years.url }}">{{ Y }} <span class="label label-primary pull-right">{{ years.count }}</span></a></h3>
    
    <div class="row" style="font-size:20px;">
    {% set columns = [] %}
    {% for M, months in years.months %}
        <div class="col-xs-3 col-md-2 col-lg-1 center-block" style="height:100px;">
            <p class="text-center">
                <a href="{{ months.url }}">{{ M }}
                {% if months.count > 0 %}
                    <br><span class="label label-primary">{{ months.count }}</span>
                {% endif %}
                </a>
            </p>
        </div>
    {% endfor %}
    </div>
    
{% endfor %}